@media only screen and (min-width: 64em) {

    main, footer {
        max-width: 900px;
        width: 100%;
    }

    main div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    figure:hover {
        box-shadow: 0 0 20px black;
    }
    nav ul {
        justify-content: center;
        display: flex;
    }

    nav ul.hide {display: flex;}

    nav button {
        display: none;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, .3);
        padding: .6rem 1rem;
    }

    nav ul li a:first-child {
        border-left: 1px solid rgba(0, 0, 0, .3);
    }

    #companylogo {
    width: 140px;
    }
    
}