* {
    box-sizing: border-box;
}

body {
    background-color: #4d5d66;    
    font-size: 18px;
    max-width: 100%;
}

header, main, nav, footer {
    margin: auto auto;
    max-width: 100%;
    font-family: 'Oxanium', serif;
}

header, footer {
    background-color: #000;
    color: #40bbff;
    text-align: center;
}

/*-- Header Information --*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header h1 {font-family: 'Lemonada', sans-serif;}
header h4 {margin-top: -20px;}
#companymotto {display: inline-block;}

#companylogo {
    display: inline-block;
    padding-top: 10px;
}

/*-- Navigation Styling --*/
nav {
    background-color: black;
    text-align: right;
    color: #40bbff;
}

nav ul.hide {display: none;}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #40bbff;
}

nav ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    display: block;
    padding: .8rem 2%;
    color: #40bbff;

}

nav ul li a:hover {
    background-color: #d2897e;
    color: black;
}

#smallweather {
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}

.current {
    background-color: black;
    color: #d2897e;
    font-weight: bold;
}

/*-- Main Information --*/
main {padding: 5px;}
main h3 {text-align: center;}
.weathersummary {display: none;}

/*-- Call to Action --*/
.actioncontainer {
    position: relative;
    margin: -5px;
}

main figure.herophoto {
    width: 100%;
    margin: 0;
}

main figure.herophoto img {
    width: 100%;
}

#heroimage {
    width: 100%;
}

#call {
    margin-top: 0;
    color: #d2897e;
}

/*-- Main Article --*/
.article {
    display: block;
    margin: 5px auto;
    border: 1px dashed black;
    color: #000;
    width: 95%;
    padding: 10px;
    line-height: 1;
    background-color: rgba(0, 0, 0, .1);
    text-align: left;
}

.article h4, h5 {
    margin: 5px auto;
    font-family: 'Lemonada', sans-serif;
}

#articleimage {
    display: block;
    max-width: 300px;
    width: auto;
    margin: 5px auto;
}

/*-- Testimonials --*/
.testimonialcards {
    margin: 5px auto;
    text-align: center;
    font-family: 'Lemonada', sans-serif;
}

.arrow {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align:middle; 
    overflow: hidden; 
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space:nowrap;
}

.testimage {display: none;}

.slideshow {
    position: relative;
}

.left {
    position: absolute;
    top: 50%;
    left: 10px;
}
.right {
    position: absolute;
    top: 50%;
    right: 10px;
}

.testimonialcards section {
    background-color: rgba(0, 0, 0, .1);
    width: 95%;
    padding: 5px;
    border: 1px dashed black;
    margin: 5pt auto;
}

.testimonialcards h6 {
    font-style: italic;
    margin-bottom: 20px;
}

.testimonialcards section p {
    margin: 0;
    line-height: 1em;
    padding-bottom: 5px;
    font-family: 'Oxanium', serif;
}

.testimonialcards section img {
    display: block;
    margin: 10px auto;
    box-shadow: 0 0 20px black;
    max-width: 200px;
    width: 90%;
}

/*-- River Guides --*/
h2 {
    color: #d2897e;
    text-align: center;
}

.guidecards, .adventurecards{
    margin: 5px auto;
    text-align: center;
    font-family: 'Lemonada', sans-serif;
}

.guidecards section, .adventurecards section {
    background-color: rgba(0, 0, 0, .1);
    width: 95%;
    padding: 5px;
    border: 1px dashed black;
    margin: 5pt auto;
}

.guidecards h4, .adventurecards h4 {
    font-style: italic;
    margin-bottom: 20px;
}

.guidecards section p, .adventurecards section p {
    margin: 0;
    line-height: 1em;
    padding-bottom: 5px;
    font-family: 'Oxanium', serif;
}

.guidecards section img {
    display: block;
    margin: 10px auto;
    box-shadow: 0 0 20px black;
    max-width: 200px;
    width: 90%;
}

/*-- Contact Information --*/
.infomap {
    display: block;
    margin: 5px auto;
    border: 1px dashed black;
    width: 95%;
    padding: 10px;
    line-height: 1.1;
    background-color: rgba(0, 0, 0, .1);
}

#map {
    width: 100%;
    border: none;
}



form {
    justify-content: left;
    width: 150%;
    display: grid;
    grid-gap: 5px;
    margin-left: 2.5%;
    line-height: 2rem;
}

legend {
    font-weight: bold;
}

fieldset {
    border: none;
    margin-left: -14px;
}

.button input {
    width: 400px;
    background-color: #d2897e;
    border: none;
    padding: 20px;
    font-size: 16pt;
}

fieldset input, fieldset textarea {
    width: 400px;
}

/*-- Adventure Data Table --*/
.adventures {
    text-align: center;
}

table, th, td {
	border:1px solid black;
	border-collapse: collapse;
    padding: 7px;
    background-color: rgba(0, 0, 0, .1);
    margin: 5px auto;
    font-size: smaller;
}

th {
    background-color: #d2897e;
    font-weight: bold;
}

td {
    text-align: center;
}

/*-- Footer Information --*/
footer {padding: 10px 0;}

.socialmedia {
    width: 20px;
}

/*------ Clearfix: Force an Element not to collapse ------*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}